html, body {
  font-size: 18px;
  font-family: Helvetica;
  text-align: center;
  line-height: 1.4rem;
}

/* Banner with Nav and text square */

#banner {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
}

#navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 80%;
  background-color: cadetblue;
  font-size: 1rem;
  color: white;
  margin: 0 auto;
  overflow: hidden;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h3 {
  padding-left: 1rem;
}

#logo img {
  height: 1.5rem;
  padding-left: 2rem;
}

nav ul {
  display: flex;
  margin-right: 2rem;
}

nav ul li {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav ul li a {
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

#mobile-menu {
  display: none;
}

#bannertext {
  text-align: left;
  float: right;
  height: 6rem;
  width: 33rem;
  background-color: white;
  color: black;
  font-weight: bold;
  margin-top: 10rem;
  margin-right: 5rem;
}

#bannertext h2 {
  margin-top: 2.2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 2rem;
}

/* Icons */

#icons {
  display: flex;
  justify-content: center;
}

.iconcontinater {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5rem;
  height: 0.5rem;
  margin: 7rem 4rem;
}

.iconcontinater img {
  width: 3.5rem;
}

#paper img {
  align-self: flex-end;
}

#ruler img, #truck img {
  width: 5rem;
}

.iconcontinater span {
  margin-top: 1.5rem;
}

/* Philosophy and Apppointments */

#about {
  display: flex;
  justify-content: center;
}

.aboutcontainer {
  text-align: left;
  width: 20rem;
  margin-top: 3rem;
  margin-left: 8%;
}

.aboutcontainer span {
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
}

.aboutcontainer p {
  margin-top: 1rem;
}

/* Footer */


#footercontainer {
  display: flex;
  background-color: azure;
  width: 80%;
  margin: 0 auto;
}

#footercontainer img {
  height: 1.5rem;
  margin-left:4rem;
  margin-top:4rem;
  margin-bottom:4rem;
  margin-right:1rem;
}

#footercontainer p {
  align-self: center;
}


/* @media */

@media only screen and (max-width: 1027px) {
  /* Banner, Nav Bar and banner text  */

  #banner {
  height: 22rem;
  background-position: 20%;
}

  #navcontainer {
    width: 100%;
  }

  #bannertext {
    height: 4rem;
    width: 20rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  #bannertext h2 {
    margin-top: 1.25rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-size: 1.25rem;
  }

  /* About container */

  .aboutcontainer {
    width: 15rem;
  }
}

@media only screen and (max-width: 580px) {
  /* Banner, Nav Bar and banner text  */

  #banner {
    height: 17rem;
  }

  #navcontainer {
    width: 100%;
  }

  #logo h3 {
    display: none;
  }

  #desktop-menu {
    display: none;
}

  #mobile-menu {
    display: block;
  }

  #bannertext {
    width: 100%;
    height: 4rem;
    margin-top: 9rem;
    margin-right: 0;
  }

  #bannertext h2 {
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  /* icons */

  #icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.77rem;
    margin-bottom: 0;
  }

  .iconcontinater {
    margin-top: 1.54rem;
  }

  #paper img {
    align-self: center;
  }

  .iconcontinater span {
    font-size: 0.77rem;
  }

  /* about */

  #about {
    flex-wrap: wrap;
  }

  .aboutcontainer {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 1.5rem;
  }


  .aboutcontainer span {
      padding-left: 6rem;
      padding-right: 6rem;
  }

  .aboutcontainer p {
    font-size: 0.77rem;
    margin: 1rem .25rem;
  }

  /* footer */

  #footercontainer {
    display: flex;
    justify-content: center;;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #footercontainer p {
    display: none;
  }

  #footercontainer img {
    margin: 0;
    padding: 3rem 0;
  }
